*{
    padding: 0;margin: 0;
    box-sizing: border-box;z-index: 999;
}


:root{
    --main-color:rgb(255, 178, 34);
}



.land-up{
    background-color: orange;
    height: 35rem;
}


.title{
    font-size: 3.5rem;
    font-weight: 600;
}


.land-up .container{
    position: relative; top: 10rem;
  }
  
  .land-up .container .row .land-left p{
    font-size: 1.3rem;
    width: 80%;
  }
  
  .land-up .container .row .land-left a{
    font-size: 1.1rem;
    margin-left: 0.4rem;
  }
  
  
  .land-up .container .row .land-right .require-box{
    background-color: white;padding: 2rem;border-radius: 0.5rem;  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }
  
  .land-up .container .row .land-right .require-box .col-md-12 img{
    border-radius: 50%;
  }
  .land-up .container .row .land-right .require-box .col-md-12 h1{}
  .land-up .container .row .land-right .require-box .col-md-12 button{
    float: right;
  }





  .intro .container{
    padding:4rem;
    }
    
    .intro .container .title{
      text-align:center;
      }
    
      .intro .container .row{
        margin-top: 2rem;
        }
    
        .intro .container .row  .leftSide p{
            font-size: 1.1rem;
        }
    
        .intro .container .row col-md-5 img{
          
        }
    





         .last-offers .title{
          text-align: center;
        }
        
        .last-offers .parg{
          text-align: center;width: 50%;margin: auto;margin-top: 2rem;
        }
        
        .last-offers .container1{
          padding: 2rem ;
        }
 
        
        .last-offers .container1 .row1{
          gap: 1rem !important;display: flex;justify-content: center;
        }
        
        .last-offers .container1 .row1 .box{
          background-color: white;text-align: center;padding: 0;border-radius: 1rem; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        }
        
        
        .last-offers .container1 .row1 .box .container2 .row2 .img-cont{
          width: 100% !important;padding: 0;
        }
        
        
        .last-offers .container1 .row1 .box .container2 .row2 .img-cont h1{
          background-color: rgba(199, 30, 0, 0.765);position: absolute;margin-top: 1rem; padding: 0.5rem;color:white;border-bottom-right-radius: 3rem;border-top-right-radius: 3rem;font-size: 1rem; width: 5rem;
        }
        
        .last-offers .container1 .row1 .box .container2 .row2 .img-cont img{
          width: 100%;height: 15rem;border-top-left-radius: 0.8rem;border-top-right-radius: 0.8rem;padding: 2rem;
        }
        
      
        
        
        .last-offers .container1 .row1 .box .container2 .row2 .detail-cont .container3 .row3{
          background-color: rgb(255, 214, 66);border-bottom-left-radius: 2rem;border-bottom-right-radius: 2rem;
        }
        
        .last-offers .container1 .row1 .box .container2 .row2 .detail-cont .container3 .row3 .meal-name h1{
          font-size: 1.4rem;
        }
        
        .last-offers .container1 .row1 .box .container2 .row2 .detail-cont .container3 .row3 .meal-price h1{
          font-size: 1.4rem;
        }
        
        
        .last-offers .container1 .row1 .box .container2 .row2 .meal-describe p{
          margin-top: 1rem;
        }
        
        .last-offers .container1 .row1 .box .container2 .row2 .box-grbtn{
         padding: 0.5rem;margin-bottom: 0.5rem;
        }  

        .last-offers .container1 .row1 .box .container2 .row2 .box-grbtn .btn{
          margin-left: 0.3rem;
         }  






















  @media (max-width: 768px) {
    .land-up .container .row .land-right .require-box{
        margin-top: 2rem;
    }

    .land-up .container .row .land-left h1{
        font-size: 2.2rem;
    }
  }


  @media (max-width: 576px) {
    .land-up .container .row .land-right .require-box{
        margin: auto;
        margin-top: 2rem;
        width: 80%;
    }
  }

  @media (max-width: 525px) {
    .land-up .container .row .land-right .require-box .col-md-12 h1{
        font-size: 1rem;
    }
  }
